/_files
/wp-content/uploads
/wp-content/cache
/wp-config.php
/.DS_Store
/wp-content/upgrade
/wp-content/advanced-cache.php
/.htaccess
/wp-content/uploads/backwpup-22161c-temp
/wp-content/uploads/backwpup-22161c-logs
/elsa.sublime-workspace
/elsa.sublime-project
/wp-content/updraft
/wp-content/plugins/wp-rocket/cache.json
/node_modules


.DS_Store
/report.20200902.171202.4043.001.json
/report.20200902.172055.4085.001.json
/elsa.code-workspace
/report.20200902.172144.4098.001.json
/wp-content/w3tc-config/master.php
/wp-content/w3tc-config
/wp-content/uploads/wysija/themes/elsa v2/images/parts.psd
wp-content/wflogs/.htaccess
wp-content/wflogs/attack-data.php
wp-content/wflogs/config-livewaf.php
wp-content/wflogs/config-synced.php
wp-content/wflogs/config-transient.php
wp-content/wflogs/config.php
wp-content/wflogs/GeoLite2-Country.mmdb
wp-content/wflogs/ips.php
wp-content/wflogs/rules.php
wp-content/wflogs/template.php
/wp-content/smush-webp
