body {
	MARGIN-LEFT: 5px;
	MARGIN-TOP: 5px;
	FONT-FAMILY: Arial;
	FONT-SIZE: 12px;
}

.button {
	FONT-FAMILY: Arial;
}
.bbutton {
	FONT-FAMILY: Arial;
	FONT-WEIGHT: bold;
}

p {
	FONT-FAMILY: Arial;
	FONT-SIZE: 12px;
}

table {
	FONT-FAMILY: Arial;
	FONT-SIZE: 12px;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.message {
	color: #FF4C1C;
	text-decoration: none;
}

.ico {
  display:block;
  float:left;
  margin:2px 0 2px 2px;
  border:1px solid #FFF;
  border-right-color:#999;
  border-bottom-color:#999;
  cursor: pointer;
  _cursor: hand;
}

.mtxt {
	color: black;
}

.mheader {
	color: white;
	font-weight: bold;
}

/* Style générique HTMLTable */
table#generic {
	margin:0px;
	padding:0px;
    background-color:#FFFFFF;
	border: solid #000000 1px;
}

table#generic tr {
	margin:0px;
	padding:0px;
	border:0px;
}

table#generic td {
	margin:0px;
	padding-left: 2px;
	border:0px;
	border: solid #000000 1px;
}

.header {
    font-weight: bold;
	color: white;
    text-align: left;
    background-color: #85a422;
}

.tdata {
    color: #000000;
}

.tbdata {
    color: #000000;
	font-weight: bold;
}

.trdata {
    color: #000000;
    text-align: right;
}

.tcdata {
    color: #000000;
    text-align: center;
}

.tcgdata {
    color: #000000;
    text-align: center;
	background-color: #EEEEEE;
}

.idcol {
    font-weight: bold;
    text-align: center;
}