// Primary Colors
$primary-color: #ED1B23;
// $primary-light: #5dade2;
// $primary-dark: #2e86c1;

// Secondary Colors
$secondary-color: #FFB2DB;
// $secondary-light: #ec7063;
// $secondary-dark: #cb4335;

// Neutral Colors
$white: #ffffff;
$black: #151515;
$gray-1: #F0F0F0;
$gray-2: #B6B6B6;
$gray-3: #3A3A3A;
$gray-4: #222222;

// Accent Colors
$accent-color: #f1c40f;
$accent-light: #f7dc6f;
$accent-dark: #d4ac0d;