@import 'colors';
@import 'mixins';
@import 'layout';
@import 'typography';
@import 'generic';


*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Jarkata';
    background-color: $white;
    color: $black;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-flow: column;
    min-height: 100vh;
    margin-top: 120px;
}

main {
    flex-grow: 1;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

svg {
    stroke: var(--font-color);
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

ul {
    list-style: none;
}

/*------------------------------------*\
    FORMS
\*------------------------------------*/

input[type="text"], input[type="search"] , .input {
    border: 1px solid $primary-color;
    padding: 20px 60px 20px 30px;
    border-radius: 50px;
    font-size: 12px;
    font-weight: 600;
    width: 100%;
    background-color: transparent;

    &::placeholder {
        color: $primary-color;
        opacity: 0.5;
        font-size: 12px;
        text-transform: uppercase;
    }

    &:focus {
        outline: none;
    }

    &.select {
        appearance: none;
        text-transform: uppercase;
        padding-right: 40px;

        &~svg {
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);
        }
    }

}

input[type="checkbox"] {
    appearance: none;

    &:checked ~ label {
        background-color: $secondary-color;
        color: $white;
        font-weight: $font-semibold;
    }

    & ~ label {
        padding: 3px 8px;
        cursor: pointer;
        user-select: none;
        @include menu-item2;
    }
}

button[type="submit"] {
    position: absolute;
    background-color: $primary-color;
    border-radius: 50%;
    aspect-ratio: 1;
    right: 5px;
    top: 5px;
    bottom: 5px;
}

/*------------------------------------*\
    ENTRY CONTENT
\*------------------------------------*/

.entry-content {


    h1, h2, h3, h4, h5, h6 {
        font-weight: $font-semibold;
        margin-bottom: 20px;
    }
    a {
        text-decoration: underline;
    }
    p {
        margin-bottom: 20px;
    }
    ul {
        list-style: disc;
        li {
            font-size: 18px;
            font-weight: $font-extralight;
            line-height: 32px;
        }
    }

    img {
        width: 100%;
        height: auto;
    }
}