
    .djacc-popup .djacc__openbtn--default {
        background: $primary-color !important;
        border-radius: 50%;

        &:hover {
            opacity: .7;
        }
    }

    .djacc-popup .djacc__close {
        background: $primary-color !important;
        border-color: transparent;
        &:hover {
            opacity: .7;
        }
    }
    .djacc-popup .djacc__panel {
        background-color: $black !important;
    }
    .djacc-popup .djacc__reset {
        background: $secondary-color !important;

    }

    .djacc__footer {
        display: none !important;
    }

    .djacc-popup .djacc__btn--active {
        border-color: $primary-color !important;
        background: $primary-color !important;
    }
    .djacc-popup.djacc--bottom-left:hover .djacc__openbtn {
        margin: 0 !important;
    }

    .djacc-popup .djacc__bar::before {
        background: $primary-color;
      }

      .djacc-popup .djacc__dec:hover svg [stroke^="#"], .djacc-popup .djacc__inc:hover svg [stroke^="#"] {
        stroke: $primary-color;
      }

      .djacc-popup .djacc__btn:hover {
        background: #343434;
        border-color: $primary-color;
      }