/*------------------------------------*\
    BUTTONS
\*------------------------------------*/

.btn {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 20px 30px;
    border: 2px solid transparent;
    border-radius: 100px;
    background-color: $primary-color;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: $font-semibold;
    color: $white;
    text-align: left;
    text-decoration: none;
    cursor: pointer;
    transition: background-color .3s linear, border-color .3s linear, color .3s linear, transform .1s linear;
    
    &:hover {
        background-color: $black;
    }
    &:active {
        transform: scale(0.97);
    }

    &--secondary {
        background-color: $secondary-color;
    }

    &--tertiary {
        background-color: $white;
        border-color: $white;
        &:hover {
            color: $white;
            background-color: transparent;
            svg path {
                fill: $white;
            }
        }
    }

    &--small {
        padding: 10px 15px;

    }
}

input[type="submit"] {
    @extend .btn;
}

/*------------------------------------*\
    BREADCRUMBS
\*------------------------------------*/

.breadcrumb {
    display: flex;
    gap: 16px;
    font-size: 14px;
    color: $white;
    margin-bottom: 35px;
    background-color: $primary-color;
    padding: 5px 10px;
    width: fit-content;
    align-items: center;

    a, span {
        color: $white;
        text-decoration: none;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 250px;

        &:not(:first-child)::before {
            content: '•';
            margin-right: 15px;
            color: $white;
        }

        &:hover {
            color: rgba($white, 0.4);
            svg path {
                stroke: rgba($white, 0.4)
            }
        }
    }

    span {
        pointer-events: none;
    }
}

/*------------------------------------*\
    RESSOURCE META
\*------------------------------------*/

.ressource-meta {
    line-height: 1.5;

    span {
        color: $primary-color;
    }
}

/*------------------------------------*\
    POPIN
\*------------------------------------*/

.modal {
    opacity: 0;
    z-index: -1;
    position:fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity .3s;

    .modal_inner {
        background-color: white;
        padding: 60px;
        width: 80vw;
        max-width: 1000px;
        height: 60vw;
        overflow-y: scroll;
    }
    .modal_content {
        height: 100%;
    }

    &.open {
        opacity: 1;
        z-index: 99;
    }

    .close-modal-btn {
        position: absolute;
        top: calc(10vh + 24px);
        right: 50px;
        z-index: 210;

        svg path {
            stroke: $white;
        }
    }

    .out & .close-modal-btn {
        top: 50px;
    }
}


/*------------------------------------*\
    Autocomplete menu
\*------------------------------------*/

.ui-autocomplete {
    list-style: none;
    z-index: 999999;
    box-shadow: none;
    margin-top: 10px;
    background-color: white;
    color: $black;
    font-size: 15px;
    border: none;
    padding: 20px;
    opacity: 0.98;
    max-width: 300px;

    .ui-menu-item {
        cursor: pointer;

        &:hover {
            opacity: .4;
        }
    }
  }
  
  .ui-widget-content .ui-state-focus {
    color: $white;
    font-style: italic;
    border: none;
  }
  


/*------------------------------------*\
    Contact Forms
\*------------------------------------*/

.submission_form {
    input, textarea, .input--file, .input--select {
        margin-bottom: var(--space-m)
    }
    .input--file, .input--select {
        position: relative;
        overflow: hidden;
    }
}

    input[type="file"] {
        position: absolute;
        opacity: 0;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        margin: 0;
        z-index: 6;
    }
    input[type="file"] + label {
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        border: 1px solid #ed1b23;;
        padding: 20px 60px 20px 30px;
        background-color: #fff;
        color: $primary-color;
        opacity: 0.5;
        font-size: 12px;
        text-transform: uppercase;
        border-radius: 30px;
        font-weight: 600;
        &:hover {
            cursor: pointer;
        }
    }
    input[type="file"] + label .icon {
        position: absolute;
        right: 15px;
        line-height: 42px;
        top: 0;
        bottom: 0;
        display: flex;
        align-items: center;
    }
    .input--file + .msg {
        display: block;
        font-size: 1.2rem;
        line-height: 1;
        color: #555;
        font-style: italic;
        margin-top: - 10px;
      }

    .input--select {
        border: 1px solid $primary-color;
        border-radius: 30px;
    }
        .input--select select,
        .input--select option {
            width: 110%;
            border: none;
            padding: 20px 60px 20px 30px;
            background-color: #fff;
            text-transform: uppercase;
            opacity: 0.5;
            font-size: 12px;
            font-weight: 600;
        }
        .input--select option {
            color: #000;

            &:first-child {
                color: $black;
            }
        }

    select {
        padding: 10px;
        text-transform: uppercase;
        color: rgb(25, 38, 55);
        font-weight: 600;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
    .input--select .icon {
        position: absolute;
        right: 15px;
        line-height: 42px;
        top: 0;
        bottom: 0;
        display: flex;
        align-items: center;
    }

.plain {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

 