.site-footer {
    padding: 16px 0;
    background-color: $black;
    margin-top: 100px;
    padding: 80px 0;
    color: $white;

    @include max(medium) {
        padding: 40px 0;
    } 

    .bottom {
        margin-top: 60px;

        @include max(medium) {
            flex-direction: column;
        }

        .site-logo {
            width: 150px;
            
            @include max(medium) {
                align-self: center;
            }
        }
    
        .slide-out-div {
            display: none;
        }
    
        .footer-menu {
            margin-right: 100px;

            @include max(medium) {
                order: -1;
            }

            .menu-item {
                margin-bottom: 10px;
                @extend .menu-item;
            }
        }
    
        #bottom-menu {
            margin-top: 50px;
            .menu-item {
                @include min(medium) {
                    margin-bottom: 20px;
                }
                @extend .menu-item2;
            }
        }
    }
}