.site-footer {
    padding: 16px 0;
    background-color: $black;
    margin-top: 100px;
    padding: 80px 0;
    color: $white;

    @include max(medium) {
        padding: 40px 0;
    } 

    .footer-text {
        ul {
            margin-top: var(--space-l);
            display: flex;
            flex-wrap: wrap;
            gap: var(--space-m);
            align-items: center;

            img {
                max-width: 120px;
                max-height: 120px;
            }
        }
    }
    .bottom {
        margin-top: 60px;

        @include max(medium) {
            flex-direction: column;
        }

        .site-logo {
            width: 150px;
            
            @include max(medium) {
                align-self: center;
            }
        }
    
        .slide-out-div {
            display: none;
        }
    
        .footer-menu {
            @include min(medium) {
                margin-right: 100px;
            }

            @include max(medium) {
                order: -1;
            }

            .menu-item {
                margin-bottom: 15px;
                @extend .menu-item;
            }
        }
    
        #bottom-menu {
            .menu-item {
                @include min(medium) {
                    margin-bottom: 20px;
                }
                @extend .menu-item2;
            }
        }

        .social-links {
            margin-top: 15px;
            
            @include max(medium) {
                flex-wrap: wrap;
            }

            a {
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: $primary-color;
                border-radius: 50%;
                aspect-ratio: 1;
                padding: 10px;
                transition: all .3s;

                &:hover {
                    background-color: $secondary-color;
                }
            }
        }
    }
}