.site-header {
    padding: 16px 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: $white;

    .left {
        
        .site-logo {
            width: 80px;
        }
    
        .site-title {
            font-size: 20px;
            font-family: "Jarkata", sans-serif;
            font-weight: 200;
            margin-bottom: 15px;
            line-height: 1;
        }

        .menu-item {
            @include menu-item;
        }

        .js-dropdown-trigger {
            &.e-open {
                > div {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
        .dropdown-item {
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.3s, visibility 0.3s;
            position: absolute;
            background-color: $white;
            top: 100%;
            left: 0;
            right: 0;
            padding-top: 40px;
            padding-bottom: 60px;
            z-index: 100;
            box-shadow: 10px 10px 10px #0000000f;

            ul {
                columns: 2;
            }

            p {
                white-space: break-spaces;
                margin-bottom: 16px;
            }

            a.btn {
                aspect-ratio: 1;
                padding: 18px;
                font-size: unset;
                margin-top: 16px;
            }
        }

    }

    .right {

        .menu-item {
            @include menu-item2;
        }

        .search-form {
            position: relative;
            margin-top: 20px;
            width: 350px;
        }
    }


    .menu-item {
        &:nth-child(n+4) {
            display: none;
        }
    }
}