.site-header {
    padding: 16px 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: $white;

    .left {
        
        .site-logo {
            width: 80px;
        }
    
        .site-title {
            font-size: 20px;
            font-family: "Jarkata", sans-serif;
            font-weight: 200;
            margin-bottom: 15px;
            line-height: 1;
        }

        .menu-item {
            @include menu-item;
        }

        .dropdown-item {
            display: none;
            position: absolute;
            background-color: $white;
            top: 100%;
            left: 0;
            right: 0;
            color: $black;
            padding-top: 40px;
            padding-bottom: 60px;
            z-index: 99;
        }

    }

    .right {

        .menu-item {
            @include menu-item2;
        }

        .search-form {
            position: relative;
            margin-top: 20px;
            width: 350px;
        }
    }


    .menu-item {
        &:nth-child(n+4) {
            display: none;
        }
    }
}