/*------------------------------------*\
    HOME
\*------------------------------------*/

.sec_home-hero {
    margin-bottom: 100px;

    .cover {
        width: 100%;
        height: 50vh;
        max-height: 600px;
        object-fit: cover;
    }

    .wrapper {
        @include min(medium) {
            gap: var(--space-xl);
        }

        .left {
            transform: translateY(-50px);
    
            .zoom {
                background-color: $white;
                display: block;
                padding: 10px 40px;
                width: fit-content;
                margin-bottom: 30px;
            }

            .featured_intro {
                h2 {
                    margin-bottom: var(--space-m);
                }
            }
        
        }

        .right {
            @include max(medium) {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
            }

            .btn {
                margin-bottom: 20px;
            }
        }
        
    }

}

/*** Ressources ***/

.sec_home-ressources {
    padding: 80px 0;
    background-color: $gray-1;

    @include max(medium) {
        padding: 50px 0;
    }

    .container {
        @include min(medium) {
            @include wrapper;
        }
    }

    .title {
        @include min(medium) {
            margin-bottom: 80px;
        }
        @include max(medium) {
            @include wrapper;
            margin-bottom: 20px;
        }
    }

    .ressources {
        margin-bottom: 50px;

        @include min(medium) {
            overflow: visible;
        }

        @include max(medium) {
            @include wrapper-padding;
        }

    }

}


/*** Videos ***/

.sec_home-videos {
    margin: 150px 0;

    @include max(medium) {
        margin: 80px 0;
    }

    .container {
        @include min(medium) {
            @include wrapper;
        }
    }

    .title {
        margin-bottom: 70px;
        color: $secondary-color;

        @include max(medium) {
            @include wrapper;
            margin-bottom: 30px;
        }
    }

    .videos {
        margin-bottom: 60px;

        @include max(medium) {
            @include wrapper-padding;
        }
    }

    .video {
        position: relative;

        &__infos {
            margin: 0 10px;
            position: absolute;
        }

        &__categories {
            background-color: $primary-color;
            color: $white;
            padding: 8px;
            display: flex;
            width: fit-content;
            flex-wrap: wrap;
            .category {
                font-size: 15px;
                white-space: nowrap;
            }
        }

        &__title-container {
            background-color: $black;

            padding: 12px 20px;
        }
        &__title {
            color: $white;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
            line-clamp: 2;
            -webkit-line-clamp: 2;
            hyphens: auto;

            &::after {
                content: "";
                position: absolute;
                inset: 0;
            }
        }

        &__cover {
            width: 100%;
            aspect-ratio: 5/3;
            object-fit: cover;
            margin-top: 65px;
            position: relative;
            z-index: -1;
        }
    }
}

/*------------------------------------*\
    SEARCH
\*------------------------------------*/

.sec_search {
    padding: 35px 0;
    margin-bottom: 60px;
    background-repeat: no-repeat;
    background-size: cover;
    transition: top .5s;
    position: static;
    top: -100%;

    .h2 {
        @include max(medium) {
            margin-bottom: 0;
        }
    }

    .sec_search_help {
        position: relative;
        padding: 24px;
        color: $white;
        text-align: right;
        font-size: 12px;
        background-color: $primary-color;
        clip-path: url(#mask-full-3);
        transition: opacity 0.3s, visibility 0.3s;
        
        @include max(medium) {
            position: absolute;
            opacity: 0;
            visibility: hidden;
            right: 0;
            top: 100%;
            z-index: 10;
        }

        &::after {
            content: "";
            position: absolute;
            inset: 0;
            background-image: url('/wp-content/themes/elsa.v3/assets/img/bg-texture.png');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            mix-blend-mode: multiply;
            z-index: -1;
        }

        &__title {
            margin-bottom: 20px;
        }

        &__links > li {
            margin-bottom: 8px;
            text-transform: uppercase;
        }
        a {
            white-space: wrap;
        }
    }

    .help-mobile-trigger {
        color: $primary-color;
        cursor: pointer;
        user-select: none;
        margin: 20px 0;
    }

    .help-mobile-input:checked ~ .help {
        opacity: 1;
        visibility: visible;
    }

    .search-options {
        @include min(medium) {
            width: 60%;
        }

        .cat-filters {
            @include max(medium) {
                flex-wrap: wrap;
                > div {
                    width: 100%;
                }
            } 
            > div {
                min-width: 220px;
            }
        }
    }

    .tax-filters {
        @include max(medium) {
            flex-wrap: wrap;
        } 
    }

    .input {
        &::placeholder {
            color: $black;
        }
    }

    &.stickyfied {

        @include min(medium) {
            position: fixed;
            left: 0;
            right: 0;
            top: 133px;
            padding: 20px 0;
            z-index: 9;
            box-shadow: 0px -1px 9px #8080808c;

            .wrapper {
                display: flex;
                align-items: flex-start;
                font-size: .9em;
                flex-wrap: wrap;
            }
            .sec_search_titles {
                max-width: 30%;
                flex: 0 0 30%;
            }
            .sec_search_filters {
                max-width: 70%;
                flex: 0 0 70%;
            }
            .sec_search_btns {
                max-width: 70%;
                flex: 0 0 70%;
                order: 4;
                margin-bottom: 0;
            }
            .sec_search_actions {
                max-width: 30%;
                flex: 0 0 30%;
                order: 3;
                margin-top: -17px;
            }
        } 


        .breadcrumb, .h2, .sec_search_help, .h4 {
            display: none;
        }
        input[type="search"], select {
            padding: 15px 40px 15px 20px;
        }
    }

    header.out ~ main &.stickyfied {
        top: 0;
    }

}

/*** Pagination ***/


.sec_search-pagination {
    margin: 80px 0;

    .container {
        @include max(medium) {
            flex-wrap: wrap;
            justify-content: center;
            gap: 50px;
        }
    }

    ul {
        display: flex;
        gap: 6px;

        a {
            user-select: none;

            &:not(.previous):not(.next) {
                aspect-ratio: 1;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0px 24px;
                
                &:not(.active) {
                    background-color: rgba($primary-color, 0.1);
                    color: $primary-color;
                }
            }

            &.active {
                opacity: 1 !important;
            }

            @include max(medium) {
                &.next, &.previous {
                    font-size: 0;
                    gap: 0;
                    
                    svg {
                        margin: 0 !important;
                    }
                }
            }

            &.next {
                svg {
                    margin-left: 10px;
                    vertical-align: text-top;
                }
            }

            &.previous {
                svg {
                    margin-right: 10px;
                    vertical-align: text-top;
                }
            }
        }
    }
}


/*** Results ***/

.sec_search-results {
    margin: 80px 0;
}

/*------------------------------------*\
    RESSOURCE
\*------------------------------------*/

.sec_ressource-hero {
    padding: 35px 0;
    margin-bottom: 80px;
    background-repeat: no-repeat;
    background-size: cover;

    .thumbnail img {
        width: 100%;
        object-fit: cover;
    }

    .container {
        @include min(medium) {
            column-gap: var(--space-l);
        }
        @include max(medium) {
            row-gap: var(--space-l);
        }
    }
}


/*** Content ***/

.sec_ressource-content {
    margin: 80px 0;

    .container {
        @include min(large) {
            column-gap: var(--space-xxl);
        }
        @include max(large) {
            row-gap: var(--space-l);
        }
        .ressources {
            @include max(large) {
                align-items: flex-start;
            }
        }
    }

    .content {
        a {
            text-decoration: underline;
        }
        p {
            margin-bottom: 20px;
        }

        ul {
            list-style: disc;
            li {
                font-size: 18px;
                font-weight: $font-extralight;
                line-height: 32px;
            }
        }

        img {
            width: 100%;
            height: auto;
        }
    }

    .btn {
        width: fit-content;
        span {
            width: fit-content;
        }
    }

    .navigation-buttons {
        margin: 100px 0;

        .nav-btn {
            font-size: 16px;
            font-weight: $font-light;
            display: flex;
            gap: 10px;
            color: #7E7E7E;
            align-items: center;
            text-transform: uppercase;

            &:hover {
                opacity: .8;
                font-weight: $font-regular;
            }
        }
    }
}

/*** Related ***/

.sec_related-ressources {
    padding: 100px 0;
    background-color: $gray-1;

    @include max(medium) {
        padding: 50px 0;
    }

    .container {
        @include min(medium) {
            @include wrapper;
        }

        .title {
            @include max(medium) {
                @include wrapper;
            }
        }
    }
    .swiper {
        @include max(medium) {
            @include wrapper-padding;
        }
    }
}


/*------------------------------------*\
    PAGE
\*------------------------------------*/

.sec_page-hero {
    background-color: $primary-color;
    color: $white;
    padding: 100px 0;
    text-align: center;
}

/*** Content ***/

.sec_page-content {

    .navigation ul {
        display: flex;
        margin: 20px 0;

        @include max(medium) {
            flex-wrap: wrap;
        }

        .childpage-item {
            font-size: 16px;
            padding: 4px 10px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 200px;

            &.current {
                color: $primary-color;
                background-color: rgba($primary-color, 0.1);
            }
        }
    }

    .entry-content {
        margin-top: 80px;
        margin-bottom: 80px;

        @include min(medium) {
            @include wrapper(small);
        }
    }

    
}