/* 
 * Header
 * 
 * @package sasskit
 */


.site-header {
  padding: $base_line_height 0;
  background-color: $white;
  left: 0;
  right: 0;
  z-index: 9999;

  &.is-reduced {
    padding: $base_line_height / 4 0 0 0;
    font-size: 0.9em; 

    .site-logo {
      width: 50px;
    }
    .site-resume {
      display: none;
    }
  }
}


  .site-logo {
    float: left;
    margin-right: $base_line_height;
  }

  .site-title {
    
    h1 {
      @include type-setting(1);
      margin: 0;
    }
  }