/* 
 * templates/home
 * 
 * @package elsa
 */


.featured-cover {
    width: 100%;
    height: 500px;
}


.featured-content {
  background-color: $color_ressources;
  color: $white;
  margin-bottom: $base_line_height * 3;
}