



.search_list {
  padding: $base_line_height * 3;
}


.search_item {
  border-top: 1px solid $gray;
  padding: $base_line_height 0;
}
  .search_item-title {
    margin-bottom: $base_line_height / 2;
  }
  .search_item-thematiques {
    padding-right: $base_line_height / 2;
  }

.check-item {
  float: left;
  margin-right: $base_line_height * 2;
 
  label {
    @include type-setting(-1);
    text-transform: uppercase;
    color: $color_primary;
    font-weight: $semibold;
  }
}