/* 
 * templates/single
 * 
 * @package single
 */





  .page_sidebar {
    border-top : 3px solid $color_primary;
    padding-top: $base_line_height;
  }

  .page_actions {
    margin: $base_line_height * 2 0;
  }

  .page_title {

    .wrap {
      position: relative;
    }

  }


/* 
 * MEDIAS SINGLE
 */


  .media_title {
    color: $white;
    margin-bottom: $base_line_height;
    background-color: $color_medias;
    padding: $base_line_height;

    .h1 {
      padding: $base_line_height * 2 0;
    }
  }
  .media_aside {
    border: 1px solid $white;
    color: $white;
    padding: $base_line_height;

    span {
      font-weight: $semibold;
    }
  }

