/* 
 * Set up specific templates : home, single...
 * 
 * @package sasskit
 *
 */




@import "home";
@import "single";
@import "archives";
@import "search";

.no-scroll {
  @include at-least(medium) {
    overflow: hidden;
  }
}

.dd-open {
  opacity: 0.5;
}


/*
 * Styles communs
 */

.page_title-outer {
  padding: $base_line_height * 2 0;

  & > div {
    opacity: 0.95;
  }

  & + .page_content .page_sidebar {
    margin-top: - $base_line_height * 4;
    position: relative;
    background-color: $color_primary;
    color: $white;
    padding: $base_line_height;
    border: none;
    
    &::before {
      content: '';
      position: absolute;
      left: -500px;
      background-color: $color_primary;
      top: 0;
      bottom: 0;
      width: 500px;
    }
  }
}

.page_title:not(.media_title) {
  padding: $base_line_height * 3 0;
  color: $white;
  margin-bottom: $base_line_height;
}
  .ressource_title {
    background-color: $color_ressources;
  }
  .pays_title,
  .structure_title,
  .archives_title {
    background-color: $color_medias;
  }
  .static_title {
    background-color: $color_primary;
  }

.page_content {
  padding: $base_line_height * 3 0 $base_line_height * 3;
  margin-bottom: $base_line_height;
  background-color: $gray_lighter;
}

.bg-full {
  background-color: $gray_lighter;
}

.bg-cut {
  position: relative;
  background-color: $gray_lighter;
  
  &:before {
    content: '';
    position: absolute;
    width: $base_line_height;
    background-color: $white;
    top: 0;
    left: 0;
    bottom: 0;
  }
}




/*
 * COMMUNS STYLES FOR POSTS & ARCHIVES ETC.
 */

  .page_text {
    padding-right: $base_line_height * 2;
  }

  .page_aside {
    margin-top: - $base_line_height * 7;
  }
    .page_media {
      margin-bottom: $base_line_height * 2;

      img {
        float: right;
        border: 1px solid white;
      }
    }
    .page_metas {
      border: 1px solid $color_metas;
      padding: $base_line_height;
      margin-bottom: $base_line_height * 2;
      
      span {
        color: $color_metas;
        font-weight: $semibold;
      }

      ul {
        display: inline;
        @extend .no-bullets;
      }
      li:not(.contact-item) {
        display: inline;
        
        &:not(:last-child):after {
          content: ', ',
        }
      }
      p:last-child {
        margin-bottom: 0;
      }
    }
      .page_metas_row {
        margin-bottom: $base_line_height;
        
        &.logo img {
          display: block;
          margin: auto;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }

      .page_tools {

        .group_content {

          & > div {
            margin-right: $base_line_height;
          }
        }
      } 




/*
 * COMMUNS CLASSES
 */


.has-2col {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
}
.has-3col {
  -moz-column-count: 3;
  -webkit-column-count: 3;
  column-count: 3;
}



