
@import "sprite";
@import "lists";
@import "tables";


.bloc_item {
  height: 200px;
  margin-bottom: $base_line_height;
  padding: $base_line_height $base_line_height * 1.5 $base_line_height $base_line_height;
  position: relative;

  a {
    color: inherit;
  }
  
  &.bloc--ressource {
    background-color: $color_ressources;
  }
  &.bloc--media {
    background-color: $color_medias;
    color: $white;
  }
  &.bloc--statique {
    background-color: $color_primary;
    color: $white;
  }

  .bookmark {
    position: absolute;
    top: -18px;
    right: -13px;
  }
}