
@import "lists";
@import "tables";



/*
 * BLOCS
 */

.bloc_item {
  height: 200px;
  margin-bottom: $base_line_height;
  padding: $base_line_height $base_line_height * 1.5 $base_line_height $base_line_height;
  position: relative;

  a {
    color: inherit;
  }
  
  &.bloc--ressource {
    background-color: $color_ressources;
  }
  &.bloc--media {
    background-color: $color_medias;
    color: $white;
  }
  &.bloc--statique {
    background-color: $color_primary;
    color: $white;
  }

  .bookmark {
    position: absolute;
    top: -18px;
    right: -13px;
  }
}

  .bloc_title {
    display: inline-block;
    
    .bloc--media & {
      padding: $base_line_height / 4;
      background-color: $color_medias;
      opacity: 0.9;
    }    
  }
  .bloc_meta {
    @include type-setting(-2);
    font-weight: $thin;

    :not(.bloc--statique) > a > & {
      color: $black;
    }
  }
  .bloc_category {
    margin-bottom: $base_line_height / 2;
  }
  .bloc_authors {
    position: absolute;
    bottom: $base_line_height / 2;
    left: $base_line_height;
  }





/*
 * LISTS
 */

.list_item {
  position: relative;
  border-top: 1px solid $gray;
  padding: $base_line_height 0;
}
  .list_item_inner {
    padding-left: $base_line_height * 4;
  }
    .list_item-icons {
      position: absolute;
      right: 0;
    }
    .list_item-bookmark {
      position: absolute;
      width: $base_line_height * 4;
      float: left;
    }
    .list_item-title {
      margin-bottom: $base_line_height / 2;
    }
    .list_item-thematiques {
      padding-right: $base_line_height / 2;
    }









