/* 
 * Links
 * 
 * @package sasskit
 */



a {
  @include transition(all, 0.2s);
  color: inherit;
  text-decoration: none;

  .dark & {
    color: $white;
  }
}
a:hover,
a:focus,
a:active {

}


%btn {
  display: inline-block;
  border: 2px solid $color_link;
  color: $color_link;
  font-weight: $semibold;
  text-align: center;
  margin-bottom: $base_line_height;
  padding-left: $base_line_height;
  padding-right: $base_line_height;
  padding-top: $base_line_height / 2;
  padding-bottom: $base_line_height / 2;
  text-decoration: none;

  &.plain {
    width: 100%;
  }
}

.btn-primary {
  @extend %btn;
  @include box-shadow(5px 5px 0px $color_link );
  background-color: $white;
}


.btn-secondary {
  @extend %btn;
  background: none;
}

.btn-inline {
  font-style: italic;
  font-weight: $thin;
  color: $color_link;
  
  &:before {
    @extend .icon;
    @extend .icon-arrow_right;
    padding-right: 5px;
  }
}

.btn-goback {
  position: absolute;
  color: $white;
  top: - $base_line_height * 2;
  left: 0;

  &:before {
    @extend .icon-arrow_left;
  }

  .media_title & {
    top: 0;
  }
}


