/* 
 * Links
 * 
 * @package sasskit
 */



a {
  @include transition(all, 0.2s);
  color: $color_link;
  text-decoration: none;
  font-weight: $thin;

  .dark & {
    color: $white;
  }

  &:not([class *= "btn"]) {
    font-style: italic;
  }
}
a:hover,
a:focus,
a:active {

}


%btn {
  display: inline-block;
  border: 2px solid $color_link;
  color: $color_link;
  font-weight: $semibold;
  text-align: center;
  line-height: $base_line_height * 3 - 3px!important;
  margin-bottom: $base_line_height;
  padding-left: $base_line_height;
  padding-right: $base_line_height;

  &.plain {
    width: 100%;
  }
}

.btn-primary {
  @extend %btn;
  @include box-shadow(5px 5px 0px $color_link );
  @include type-setting(1);
  height: $base_line_height * 3 - 5px;
  background-color: $white;
}


.btn-secondary {
  height: $base_line_height * 3;
  @extend %btn;
}
