

// Navigation principale du site

.main-navigation {
  @include box-sizing();
  background-color: $color_primary;
  padding: $base_line_height / 2 0;
  position: relative;

  @include up-to(medium) {
  }
}

  .main_nav-search {
    display: inline-block;
    float: left;
  } 
  .main_nav-dropdowns {
    display: inline-block;
    float: left;
  } 

  .menu-menu-principal-container ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
  }
    .menu-menu-principal-container > ul > li {
      display: inline-block;

      @include up-to(medium) {
      }
    }
      .menu-menu-principal-container .menu-item > a {
        color: $white;

        &:hover {
        }
      }





// Dropdowns

.dropdown-item {
  display: none;
  position: absolute;
  background-color: $white;
  top: $base_line_height * 2.5;
  left: 0;
  right: 0;
  color: $black;
  padding-top: $base_line_height * 2;
  padding-bottom: $base_line_height * 3;
  border-bottom: $base_line_height solid $color_primary;
  z-index: 99;
  
  &.dd-thematiques {
    //display: block;
   
    .dd_title {
      background-color: $color_ressources;   
    }
  }
  &.dd-pays {
   
    .dd_title {
      background-color: $color_medias;   
    }
  }
  &.dd-boites {
   
    .dd_title {
      background-color: $color_ressources;   
    }
  }
  &.dd-associations {
   
    .dd_title {
      background-color: $color_medias;   
    }
  }

  h4 {
    margin: 0;
  }
}


.dd_group {
  margin-bottom: $base_line_height * 2;
  padding-bottom: $base_line_height;
}
  .dd_img {

  }

  .dd_title {
    padding: $base_line_height;
    margin-top:  - $base_line_height;
    margin-bottom: $base_line_height;
    color: $white;
  }

  .dd_content {

  }

  .js-dropdown-trigger.open {

    & + .dropdown-item {
      display: block;
    }
  }





// Navigation top

.top-navigation {

  ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
  }

  li {
    display: inline-block;
  }

  a {

  }
}



// Menu des pages enfants (page.php)

.childrenpages-menu {
  text-align: right;
}

  .childpage-item {

    &.current a {
      font-weight: $semibold;
      font-style: normal;
    }
  }




