

.nav_pager {
  margin-bottom: $base_line_height * 2;
  text-align: right;

  li {
    @include type-setting(-1);
    display: inline-block;
    margin-right: $base_line_height / 2;
    padding-left: $base_line_height / 2;
    padding-right: $base_line_height / 2;
    background-color: $white;
    
    &.active {
      background:  none;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}