/* 
 * Footer
 * 
 * @package Plateforme ELSA v2
 */



.site-footer {
  margin-top: $base_line_height * 3;
  border-top: 1px solid;
  padding: $base_line_height 0;
}

  .footer-divider {
    background-color: black;
    height: $base_line_height;
    margin-bottom: $base_line_height;
    margin-top: $base_line_height;
  }