/* 
 * Header
 * 
 * @package sasskit
 */


.site-header {
  margin: $base_line_height 0;
}


  .site-logo {
    float: left;
    margin-right: $base_line_height;
  }

  .site-title {
    
    h1 {
      @include type-setting(1);
      margin: 0;
    }
  }