@media (max-width: 480px) {

/*@media screen and (min-device-width : 200px) and (max-device-width: 720px) {*/

div#menuResp {width:30px; height:30px; position:absolute; top:120px; right:3%; z-index:99999999; cursor:pointer; background: #4e4641; background: -moz-linear-gradient(top,  #4e4641 0%, #342d27 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4e4641), color-stop(100%,#342d27)); background: -webkit-linear-gradient(top,  #4e4641 0%,#342d27 100%); background: -o-linear-gradient(top,  #4e4641 0%,#342d27 100%); background: -ms-linear-gradient(top,  #4e4641 0%,#342d27 100%); background: linear-gradient(to bottom,  #4e4641 0%,#342d27 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4e4641', endColorstr='#342d27',GradientType=0 );}
div#menuResp:after {	content: '';	position: absolute;	width: 68%;height:3px;background: #fff;	top: 7px;	left: 16%;	box-shadow:0 7px 0 #fff, 0 14px 0 #fff;}
nav#menuWrapper {display:none}

div#logoWrapper, div#breadcrumbWrapper, div#partenaires, div#footerWrapper, section#contentSite.associations article, section#contentSite.associations aside  {padding: 5%; width: 90%; min-height: initial;}
div#newsletterTopWrapper,div#topFollowWrapper, section#rechercheThema.searchPage, div#filtres {padding:0 5%; width: 90%;}
nav#menuWrapper, section#contentSite.structure div.contentDetails, section#contentSite.structure div.contentDetails2 {padding:2% 5%; width: 90%;}
div.introAsso {padding:5% 5% 0 5%; width: 90%;}
div.introAsso > div.txtListe {margin:0}
div.navDlSearch {margin:0 5%; width: 80%; padding:2% 5%}

section#contentSite div#breadcrumb {height:auto}
section#contentSite > div#contentWrapper {margin-top:0; width:100%; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;}
div.shadowLeft, div.shadowRight {display:none}
section#contentSite article, section#contentSite article.fullPage, div#agendaWrapper {width: 90%; padding-right: 0; float: none; min-height: inherit; padding:5%}
section#contentSite article.homepage {width: 90%; padding-right: 0; float: none; min-height: inherit; padding:0 5% 5% 5%}
section#contentSite aside {width: 90%; padding-left: 0; float: none; min-height: inherit; padding:5%;}
section#contentSite > div#contentWrapper {padding:0}
div#recommandations div.recomWrapper {margin-left: 0; margin-bottom: 20px; width: 100%; float: none;}
div#recommandations div.recom {margin-left: 0; padding:5%; width: 90%; overflow: hidden;}
div#recommandations div.recom div.rightProg {font-size: 13px; line-height: normal; width: 80%; margin-left:0}
div#recommandations div.recom div.leftProg {width:15%; margin-right: 5%;}
div#recommandations div.recom div.leftProg img, div.imgTheme img {width:100%; height:auto}
div#recommandations div.derniersDocuments {float: none; width: 100%; margin-left: 0;}
div#recommandations div.dernierWrapper {padding:5%; width: 90%;}
div#comments input[type="text"], div#comments textarea, form#rechRess input[type="text"], section#rechercheThema.searchPage input[type="text"] {width: 90%; padding:2.5% 5%; margin:0}
div#comments textarea {margin-top:15px}
div.sbHolder, section#contentSite article div.sbHolder, section#rechercheThema.searchPage div.sbHolder, div.navDlSearch div.sbHolder {width: 90%; padding:0 5%; margin:15px 0 0 0}
form#rechRess > div#recherche {padding:2%}
form#rechRess button {margin:15px auto 0 auto; display:block}
div#comments input[type="text"]+input[type="text"] {margin-left: 0; margin-top:15px}
div.imgCat img {width:100%; height:auto; max-width: 100%;}
div#leftBottom { float: left; width: auto; margin-right:0; text-align: justify;}
div#partenaires ul > li {display: inline-block; margin:0; line-height: normal; width: 16%; margin: 1%; text-align:center}
div#partenaires ul > li img {width:100%; height:auto}
div#leftBottom > p {width:100%; float:none}
div#partenaires, div#footerWrapper {padding:0 5%}
div#leftBottom div.contactvia {text-align: left;}
form.newsletter input[type="text"] {margin: 0}
form.newsletter.footer {width: 100%;}
div.colFooter {width:100%; margin:0}
div.colFooter li {float:left; width:48%; padding:0 1%}
div.colFooter+div.colFooter {margin-top:15px}
div.colFooter h2 {margin:15px 0 8px 0}
div#credits {text-align: center;}
nav#menuWrapper > ul > li:hover > div.ssMenu {display:none}
section#rechercheThema, form#rechRess {width: 100%; float:none}
section#contentSite article ul#listThematiques li {margin: 0; padding: 0; float: none; height: auto; line-height: normal; width:90%; padding:2% 5%; outline: #dcd9d6 solid 1px; border:none; margin:2% 0;}
section#rechercheThema, form#rechRess {margin-top:20px}
a.sbSelector, section#contentSite article a.sbSelector, ul.sbOptions, section#contentSite article ul.sbOptions, section#rechercheThema.searchPage a.sbSelector, section#rechercheThema.searchPage ul.sbOptions, div#filtres a.sbSelector, div.navDlSearch a.sbSelector, div.navDlSearch ul.sbOptions {width: 100%;}
.aligncenter, img.aligncenter {max-width:100%; height:auto}
ul.listePays li {float: left; width: 48%; padding: 0 1%;}
h3+ul.listePays {margin-bottom: 35px; clear: both; display: block; overflow: hidden;}
ul.listePays a {display:block; padding-right:2%}
section#contentSite.pays div.contentDetails {padding: 5%; width: 90%;}
div#videoPays, div#podcastPays {width:100%; margin:0; padding-bottom: 2%;}
div.contentMedias img {width:100%; height:auto}
div.contentMedias .videothumb { height: auto}
div#autresProgs div.programmes {float: none; margin-left:2% ; width: auto; width: 96%; padding: 2%;}
div#autresProgs div.programmes div.leftProg {width:25%; margin-right:2%}
div#autresProgs div.programmes div.leftProg img {width:100%; height:auto}
div#autresProgs div.programmes div.rightProg {width:73%; margin-left:0}
div#mapPays {margin: auto}
div.galPhotos li.first a  {height:auto; width:100%;}
div.galPhotos li.first img {width:100%; height: auto;}
div.galPhotos li.first {height:auto; width:100%; margin:0}
div.galPhotos {margin: 25px 5%; width: 100%}
div.galPhotos ul {margin:4%}
div.galPhotos h2 {width:auto}
div.galPhotos li {float: left; width: 31.33333333333333%; margin: 2% 1%;}
aside#sidebarCms {margin-top:20px}
aside#sidebarCms.noMargin div#rssFeedsWrapper {margin: 20px; padding: 5%; width: 90%;}
div#rssFeedsWrapper {padding: 5%; width: 90%;}
aside#sidebarCms.noMargin div.ressources {margin: 0 20px; padding: 5%; width: 90%;}
div#mapPays.fichePays {width:100%;}
section#contentSite.marron article div#acteursLocauxWrapper div.blockActeurs.left {width:100%; padding:0; margin:0; background:none}
div#acteursLocauxWrapper div.blockActeurs {width:100%}
div#acteursLocauxWrapper div.blockActeurs+div.blockActeurs {margin-top:15px}
div.titreSoulG {border:none}
section#contentSite.marron article div.titreSoulG > h2 {background:none}
div.flagLeft {float: none; max-width: none; width:100%;}
div.flagLeft img{width:100%; height:auto; max-width:none}
div#flagWrapper {width:100%}
div#navTop {position: relative; top: auto;  right: auto; }
div#navTop ul#navFiches {text-align: center; margin: 0;-moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; width:100%; padding:2.5% 0 0 0}
div#navTop ul#navFiches li, section#contentSite article ul#navFiches li {display: inline-block; text-transform: uppercase; font-size: 12px; font-weight: 700; color: #3b2f28; height: auto; width:31.33333333333333%; text-align:center}
section#contentSite article li {margin:0}
section#contentSite article ul#navFiches li+li {padding:0}
div#navTop ul#navFiches li+li /*, section#contentSite article li+li*/ {border-left: solid 1px #3b2f28; padding-left: 1%; margin-left: 1%;}
div#navTop ul#navFiches li > a {position: relative; top:0; color: #3b2f28;}
div#navTop ul#navFiches a {border: none; text-decoration: none;}
section#contentSite h1, section#contentSite article h1 {margin-bottom:10px}
section#contentSite article ul#navFiches {margin:0}
section#contentSite article ul#navFiches li > a {top:0}
div#acteursLocauxWrapper div.blockActeurs li {text-indent: inherit}
div#acteursLocauxWrapper div.blockActeurs li+li {border:none;}
div#logo > a > h1 {font-size: 20px; background:url(../_img/logo-elsa.png) no-repeat center left; padding:20px 32px 0 95px}
div#logo {background: none}
div#topFollowWrapper > ul > li+li+li, div#topFollowWrapper > ul > li.facebookTop, div#topFollowWrapper > ul > li.twitterTop, div#topFollowWrapper > ul > li.youtubeTop, div#topFollowWrapper > ul > li.rssTop {display:none}
div#topFollow {height:auto; padding:1.5% 0 2.5% 0}
div#newsletterTop {height: auto; padding-bottom:20px}
nav#menuWrapper {height: auto; font-weight: 600;}
div#menu, div#menu.home {height:auto}
nav#menuWrapper > ul > li {width:100%; background: #e8e8e8; -moz-border-radius: 3px;  -webkit-border-radius: 3px; border-radius: 3px; padding:2% 0;}
nav#menuWrapper li.agenda, nav#menuWrapper li.recherche {margin:10px 0 0 0; padding:2% 0}
nav#menuWrapper li+li+li {border:none}
nav#menuWrapper li+li {margin-top:10px}
nav#menuWrapper > ul > li.home {display:none}
section#contentSite article ul#listThematiques li a {display: block;}
div.actusPlateforme {width: 100%; margin:0 0 25px 0}
aside#sidebarCms.noMargin {padding:2% 5% 5% 5%}
aside#sidebarCms.noMargin div.ressources {margin: 0; padding: 5%; width: 90%;}
.adjust {margin-left:0}
ul.listeAsso li {padding:0 1%}
ul.listeAsso a {padding: 2% 5%; border: solid 1px #d6d3d0;; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; width: 90%; }
div#infosStructure, div.autresAsso, div.webAsso, div.partAsso {width:100%}
div.autresAsso h2, div.webAsso h2, div.partAsso h2 {padding:1% 5%; width: 90%;}
div.galPhotos {padding:0 0 3% 0; width:100%; margin:25px 0}
div.antennes {margin-left: 0;}
aside#sidebarCms div.fichePays {padding:5%}
div.webAsso li, div.partAsso li {width:48%; float:left; margin-right:2%; text-align: center;}
div.autresAsso li {width:48%; float:left; margin-right:2%; text-align: left;}
div.autresAsso ul, div.webAsso ul, div.partAsso ul {overflow:hidden}
ul.listeLettres li {width: 14.66666666666667%; margin: 1%;}
section#contentSite.marronclair article #autresProgs > div.titreSoulG > h2 {background:none}
div.bttDL {margin:1%; position: relative}
aside#sidebarCms ul#memetheme div.thumbImg {width:15%; margin-right:5%; outline: solid 1px #dad6d4; margin-top:10px}
aside#sidebarCms ul#memetheme div.thumbImg img {width:100%; height:auto}
aside#sidebarCms ul#memetheme li a span {width:80%; margin-top: 8px;}
div.detail {padding-right: 0;}
div.contentLeft {float: none; margin-left: 0; width: 100%;}
div.contentDetails {width: 100%; padding:10px 0; margin-top:20px}
div.thumbLeft {float: none; margin: auto;}
div#docPertinent {display: block; float: none; }
div.detailName {width:25%; margin-right:5%}
div.detail  {width:70%}
div#legende {float: none; margin: 0; line-height: normal; margin-bottom:25px}
div#liensAg {padding: 2%; margin-bottom: 16px; float: none; margin-right: 0; overflow:hidden}
section#contentSite article div#liensAg li.descLiensAg {float:none; width:100%}
section#contentSite article div#liensAg li {width:48%; margin:1%; padding:0}
div#titleRechRess {height:auto; float:none}
div#filtres div.sbHolder {margin: 0}
div#filtres > div {float:none}
div#filtres > div.check {width: 45%; margin-left: 5%; float: left;}
div#filtres > div.clear+div {margin-top:15px}
div#filtres div.sbHolder {width:90%}
div.dlResult {padding:8px 5%; width:90%; margin-right:0; height:auto}
div#listResultats li {padding:3%;  margin:0 5% 5% 5%; min-height:inherit}
div#autresProgs div.programmes div.leftProg, div#listResultats div.leftProg {width:20%}
div#autresProgs div.programmes div.leftProg img, div#listResultats div.leftProg img {width:100%; height:auto}
div#listResultats div.rightProg {width:75%; margin-left:5%; padding-right:0}
div#listResultats li {background: #f7f5f5}
div#dlRight {height:auto; line-height:normal; width:100%}
div#listResultats div.logoProg, div#listResultats div.pubProg, div#listResultats div.dlProg {width:32.33333333333333%; padding:0; text-align:center; min-height:inherit}
div#listResultats div.logoProg img {width:100%; height:auto}
div#listResultats div.logoProg {}
div#listResultats div.pubProg {width:28.33333333333333%; padding:0 2%}
div#listResultats div.dlProg {}
div#autresProgs div.programmes div.likes, div#listResultats div.likes {margin-left:0;}
div#newsRessources div.recomWrapper{width: 95%; padding:2% 0 2% 5%}
div#newsRessources div.recom {margin-left: 0; padding: 2%; width:100%}
div#newsRessources div.recomRight {margin-top:0; clear:both}
div#newsRessources div.recomRight {float: none; width: auto; margin-left: 0}
div#newsRessources div.recom div.leftProg {width:auto; margin-right:10px}
div#newsRessources div.recom div.leftProg img {}
div#newsRessources div.recom div.rightProg {width:auto; float:none; margin:0 30px 0 0}
section#contentSite.marron article div#newsRessources h3 {text-align:center}

div#sliderHome {width: 100%; margin: auto; color: #FFF; height: auto; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; overflow: hidden; margin-top:0; background: url(../_img/shadowBottomslider.png) 50% 100% no-repeat; padding-bottom: 17px; }
div.infosSlide { float: none; background: #e7512d; width: 90%; padding:5%; height: auto; line-height: 24px; } 
div.imgSlide {float: none; width: 100%; height: auto; overflow: inherit;}
div.listSlide { float: none; background: url(../_img/bgSlider.gif); width: 90%; padding:5%; height: auto;}
div.imgSlide img {width:100%; height:auto}
div.listSlide > ul > li { height: auto; margin-bottom: 10px;}
div.titreSoul {text-align:margin: 0 auto 35px auto; border-bottom: none}
div.titreSoul > span {background: none;}
section#contentSite article div#agendaWrapper ul {width: 100%;}
section#contentSite article li.mois {float: none; width: 100%}
section#contentSite article a.prevAg, section#contentSite article a.nextAg {display:none}
div.moisEvt {font-size:20px}
#advancedSearch .barre, ul#listKeywords {width:100%}

}

@media (min-width: 480px) {
nav#menuWrapper {display:block !important}
}