#advancedSearch{color:#FFF;display:none;}
#advancedSearch a{color:#FFF; float:right;}
	#advancedSearch .barre{width:780px; margin:15px auto; background:#FFF; height:1px}
	#advancedSearch ul{float:left;}
		#advancedSearch ul li{font-size:14px;}
		#advancedSearch ul li .btndel{width:14px; height:18px; float:left; margin-right:5px; background:url(../assets/img/croix_recherche.png) no-repeat center 5px ;}
	ul#listKeywords{width:398px;min-height:10px;}
	ul#listKeywords li{width:199px;float:left;}
	ul#listThemes{width:220px;min-height:10px; margin-left:18px;}
	ul#listRegions{width:220px;min-height:10px; margin-left:18px;}

#advancedSearch a.btnerase{ cursor:pointer; font-size:13px; text-decoration:underline}

#recherche{transition:all 0.3s ease-out; -webkit-transition:all 0.3s ease-out; -moz-transition:all 0.3s ease-out; }

#toolTip{ position:absolute;	background:#625145;	color:#FFF; font-size:14px;	padding:5px 10px 5px 10px;	border-radius:7px;	visibility:hidden;}
