/* 
 * Links
 * 
 * @package sasskit
 */



a {
  color: inherit;
  text-decoration: none;
  font-style: italic;
  font-weight: $thin;
  @include transition(all, 0.2s);
}
a:hover,
a:focus,
a:active {

}


%btn {
  display: inline-block;
  border: 2px solid $color_primary;
  color: $color_primary;
  font-weight: $semibold;
  text-align: center;
  line-height: $base_line_height * 3 - 3px!important;
  margin-bottom: $base_line_height;
  padding-left: $base_line_height;
  padding-right: $base_line_height;

  &.plain {
    width: 100%;
  }
}

.btn-primary {
  @extend %btn;
  @include box-shadow(5px 5px 0px $color_primary );
  @include type-setting(1);
  height: $base_line_height * 3 - 5px;
  background-color: $white;
}


.btn-secondary {
  height: $base_line_height * 3;
  @extend %btn;
}
