
// Titles

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-weight: $semibold;
}

h1 {
  @include type-setting(3);
}

h2 {
  @include type-setting(3);
}

h3 {
  @include type-setting(3);
}

h4 {
  @include type-setting(3);
}

h5 {
  @include type-setting(3);
  margin-bottom: $base_line_height / 2;
}

h6 {
  @include type-setting(3);
}


.h1 {
  margin: 0;
  @include type-setting(3);
}

.h2 {
  margin: 0;
  @include type-setting(2);
}

.h3 {
  margin: 0;
  @include type-setting(1);
}

.h4 {
  margin: 0;
  @include type-setting(0);
}

.h5 {
  margin: 0;
  @include type-setting(-1);
}

.h6 {
  margin: 0;
  @include type-setting(-1);
}

